---
import { Image } from '@astrojs/image/components';

import LogoWithProgressBar from './subcomponents/LogoWithProgressBar.astro';
import Button from './subcomponents/Button.astro';

export type Props = PresentationProps;

export type PresentationProps = {
  photo: ImageMetadata;
  alt: string;
  credit?: {
    name?: string;
    url?: string;
  };
  description: string[];
  title?: string;
  color?: string;
  buttons?: {
    text: string;
    url: string;
    variant: 'orange' | 'dark' | 'light';
  }[];
};
const presentation = Astro.props;
---

<div class="grid grid-cols-1 gap-y-20 md:grid-cols-12">
  <div class="col-span-5 flex gap-1 w-full">
    <Image src={presentation.photo} alt={presentation.alt} class="h-[650px] object-cover" />
    <a
      href={presentation.credit?.url}
      target="_blank"
      rel="noopener"
      class="self-end vertical-text text-[8px] max-md:hidden">{presentation.credit?.name}</a
    >
  </div>
  <div class="col-span-7 flex w-full flex-col gap-12 self-end pl-10 md:pl-20">
    <LogoWithProgressBar color={presentation.color} />
    <div class="pr-11 flex w-full flex-col gap-12">
      {presentation.title && <h1 class="font-larken text-3xl">{presentation.title}</h1>}
      <div class="flex flex-col gap-6 md:max-w-lg">
        {presentation.description.map((paragraph) => <p>{paragraph}</p>)}
        <div class="flex gap-x-10 flex-wrap">
          {
            presentation.buttons?.map((button) => (
              <Button text={button.text} url={button.url} variant={button.variant} />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
