---
import { Image } from '@astrojs/image/components';

import LogoWithProgressBar from './subcomponents/LogoWithProgressBar.astro';
import Button from './subcomponents/Button.astro';

export type Props = PresentationProps;

export type PresentationProps = {
  photo: ImageMetadata;
  alt: string;
  description: string[];
  title?: string;
  color?: string;
  buttons?: {
    text: string;
    url: string;
    variant: 'orange' | 'dark' | 'light';
  }[];
};
const presentation = Astro.props;
---

<div class="grid grid-cols-1 gap-y-20 md:grid-cols-12">
  <Image src={presentation.photo} alt={presentation.alt} class="col-span-5 h-[500px] object-cover" />
  <div class="col-span-7 flex w-full flex-col gap-12 self-end pl-20 md:pl-32">
    <LogoWithProgressBar color={presentation.color} />
    {presentation.title && <h1 class="font-larken text-3xl">{presentation.title}</h1>}
    <div class="mr-20 flex flex-col gap-6 text-justify md:max-w-lg">
      {presentation.description.map((paragraph) => <p>{paragraph}</p>)}
      <div class="flex gap-10 flex-wrap">
        {presentation.buttons?.map((button) => <Button text={button.text} url={button.url} variant={button.variant} />)}
      </div>
    </div>
  </div>
</div>
