---
import SubTitle from './subcomponents/SubTitle.astro';

import RefonteSiteInternet from '../assets/P.ACCUEIL/Refonte Site Internet-min.jpg';
import JAAK from '../assets/P.ACCUEIL/Création Logotype-min.jpg';
import LivreRecette from '../assets/P.ACCUEIL/Création Livre Recettes Professionnel-min.jpg';
import LastProject from './subcomponents/LastProject.astro';
import Button from './subcomponents/Button.astro';

const projects = [
  {
    title: 'Une refonte pour le site vitrine d’AQUAROC',
    image: RefonteSiteInternet,
  },
  {
    title: 'Une nouvelle identité pour JAAK Photographe',
    image: JAAK,
  },
  {
    title: 'Un livre de recettes professionnel pour FRUISEC',
    image: LivreRecette,
  },
];
---

<div class="my-28 flex flex-col gap-10">
  <SubTitle title="signature graphique et visuelle" />
  <div class="relative flex w-full flex-col items-center">
    <div
      class="grid w-full max-w-[1800px] grid-cols-1 2xl:gap-x-80 gap-x-24 gap-y-24 px-10 md:px-20 min-[900px]:grid-cols-3"
    >
      <div class="min-[900px]:mt-12">
        <LastProject title={projects[0].title} image={projects[0].image} />
      </div>
      <div class="min-[900px]:mt-24">
        <LastProject title={projects[1].title} image={projects[1].image} />
      </div>

      <div>
        <LastProject title={projects[2].title} image={projects[2].image} />
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-10">
    <Button text="CONTACT" variant="dark" url="/contact#contact-form" />
  </div>
</div>
